<div class="container">
  <form class="content-wrapper" *ngIf="!(isResetEmailSent$ | async); else emailSentConfirmation" [formGroup]="formsGroup" #resetForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="heading">{{'login.forgot' | pgptTranslate}}</div>
    <div class="text">
      {{'login.forgotPasswordContent' | pgptTranslate}}
    </div>
    <div class="input-container">
      <pgpt-form-input [control]="email" [placeHolder]="'login.email' | pgptTranslate"></pgpt-form-input>
      <div class="error-state" tabindex="-1" *ngIf="email.errors">{{email.getError('error')}}</div>
    </div>
    <div class="action-buttons">
      <pgpt-button [buttonSize]="'large'" [buttonType]="'fill'" [onClick]="onResetClick.bind(this)">
        <span [class.hidden]="loading$ | async">{{'login.resetPassword' | pgptTranslate}}</span>
        <div class="loader" *ngIf="loading$ | async"><pgpt-internal-loader></pgpt-internal-loader></div>
      </pgpt-button>
    </div>
  </form>
  <div class="back">
    <pgpt-button [buttonSize]="'medium'" [buttonType]="'base'" (click)="onBackClick()">
      <span>
        <i class="material-icons-outlined back-login">arrow_back</i>
        {{'login.backToLogin' | pgptTranslate}}
      </span>
    </pgpt-button>
  </div>
</div>

<ng-template #emailSentConfirmation>
  <div class="heading">{{'login.emailSentConf' | pgptTranslate}}</div>
  <div class="text">{{'login.emailSentConfText' | pgptTranslate}}</div>
</ng-template>
