<div class="container">
  <div class="heading">{{'login.forgot' | pgptTranslate}}</div>
  <form #resetForm="ngForm" (ngSubmit)="onSubmit()" [formGroup]="formsGroup" class="content-wrapper">
    <div class="text">
      {{'login.forgotPasswordContent' | pgptTranslate}}
    </div>
    <div class="input-container">
      <pgpt-form-input [control]="email" [placeHolder]="'login.email' | pgptTranslate"></pgpt-form-input>
      <div class="error-state" tabindex="-1" *ngIf="email.errors">{{email.getError('error')}}</div>
    </div>
    <div class="action-buttons">
      <pgpt-button [buttonSize]="'large'" [buttonType]="'fill'" [onClick]="onResetClick.bind(this)">
        <span>
          {{'login.resetPassword' | pgptTranslate}}
        </span>
      </pgpt-button>
    </div>
  </form>
  <div class="back">
    <pgpt-button [buttonSize]="'medium'" [buttonType]="'base'" (click)="onBackClick()">
      <span>
        <i class="material-icons-outlined back-login">arrow_back</i>
        {{'login.backToLogin' | pgptTranslate}}
      </span>
    </pgpt-button>
  </div>
</div>
