@import "../../../../Styles/include.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .heading {
    font-size: $pgpt-font-size-display-medium;
    font-weight: $pgpt-font-weight-bold;
    color: var(--pgpt-color-theme-yellow);
    margin-block: $pgpt-spacing-16;
    text-align: center;
  }

  .content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: $pgpt-spacing-8;

    .text {
      font-size: $pgpt-font-size-body-small;
    }

    .input-container {
      width: 100%;
      margin-block: $pgpt-spacing-8;
    }

    .action-buttons span {
      font-size: $pgpt-font-size-body-medium;
      font-weight: $pgpt-font-weight-semibold;
    }
  }

  .back {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-block-start: $pgpt-spacing-16;
    font-size: $pgpt-font-size-body;

    span {
      width: max-content;
      display: flex;
      align-items: center;
      column-gap: $pgpt-spacing-8;

      .back-login {
        font-size: $pgpt-font-size-body;
      }
    }
  }
}
