<div class="options-wrapper">
  <div class="options-container">
    <!-- Close Button -->
    <div class="options-container-close">
      <pgpt-button [buttonType]="'base'" [onClick]="onCloseClick.bind(this)">
        <i class="material-icons-outlined close">close</i>
      </pgpt-button>
    </div>
    <!-- Options -->
    <div class="options">
      <!-- Settings Tabs -->
      <div class="options-tabs">
        <pgpt-tabs [tabs]="tabs" [activeIndex]="activeIndex" (tabChange)="onTabChange($event)"></pgpt-tabs>
      </div>

      <!-- Tabs contents -->
      <div class="options-content">
        <div *ngIf="activeIndex === 0"></div>
        <div class="container" *ngIf="activeIndex === 1">
          <pgpt-llm-change></pgpt-llm-change>
        </div>
        <div class="container" *ngIf="activeIndex === 2">
          <pgpt-profile></pgpt-profile>
        </div>
      </div>
    </div>
  </div>
</div>
