<div class="llm-change">
  <div class="llm-change__current-state">
    <span>{{'llmChange.choosen_llm' | pgptTranslate:{llm: initialState.choosen_llm } }}</span>
  </div>
  <div class="llm-change__boxes">
    @for(data of jsonData; track data){
    <pgpt-model-box [size]="'small'" [modelData]="data" [onButtonClick]="onModelClick.bind(this)" [isSelected]="choosen_llm !== data.name"></pgpt-model-box>
    }
  </div>

  <div class="llm-change__key">
    <pgpt-form-input [control]="llm_key" [placeHolder]="'llmChange.keyInput' | pgptTranslate:{llm: choosen_llm }"></pgpt-form-input>
    <div class="error-state" tabindex="-1" *ngIf="llm_key.errors">{{llm_key.getError('error')}}</div>
  </div>

  <div class="llm-change__button">
    <pgpt-button [type]="'submit'" [buttonType]="'primary'" [buttonSize]="'large'" [onClick]="onChangeClick.bind(this)">
      <div class="loading">
        <span [class.hidden]="loading$ | async">
          <span>{{'llmChange.buttonText' | pgptTranslate}}</span>
        </span>
        <div class="loader" *ngIf="loading$ | async">
          <pgpt-internal-loader></pgpt-internal-loader>
        </div>
      </div>
    </pgpt-button>
  </div>
</div>
