@import "../../../../Styles/include.scss";

.side-panel-container {
  height: 100%;
  width: $pgpt-side-panel-large;
  padding-block-start: calc($pgpt-spacing-base-rem * 5);
  padding-block-end: $pgpt-spacing-16;
  padding-inline: $pgpt-spacing-16;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--pgpt-color-panel-background);
  border-right: 1px solid var(--pgpt-color-border-soft);
  position: relative;
  left: -100%;
  transition: left 0.3s ease-in-out;
  overflow-y: overlay;
  @include scrollbar();

  .section:not(.hamburger-container) {
    visibility: hidden;
  }

  &.isOpen {
    left: 0;

    .section {
      transition-delay: 0.2s;
      visibility: visible;
    }
  }

  .top-section {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .section {
    &.hamburger-container {
      position: fixed;
      left: $pgpt-spacing-16;
      top: $pgpt-spacing-16;

      .hamburger-menu {
        font-size: $pgpt-font-size-display-small;

        @include media("md-down") {
          font-size: $pgpt-font-size-body;
        }
      }
    }

    &.start-chat-container {
      margin-block-end: $pgpt-spacing-16;
      padding: 0;
    }

    &.document-analyzer {
      border-top: 1px solid var(--pgpt-color-border-medium);
      border-bottom: 1px solid var(--pgpt-color-border-medium);
      padding-block: $pgpt-spacing-8;
      margin-block-end: $pgpt-spacing-8;
    }

    .button-section {
      font-size: $pgpt-font-size-body-small;
      font-weight: $pgpt-font-weight-bold;
      color: var(--pgpt-color-text-static-dark);
      width: max-content;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: $pgpt-spacing-8;
      margin-inline: auto;

      .plus {
        font-size: $pgpt-font-size-body-medium;
        font-weight: $pgpt-font-weight-bold;
        position: relative;
      }

      &.item {
        color: var(--pgpt-color-text);
        font-weight: $pgpt-font-weight-lighter-bold;
        margin-inline: none;
        width: 100%;

        .icon {
          width: $pgpt-icon-size;
          height: $pgpt-icon-size;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }

        &.doc-analyzer .icon {
          background-image: $pgpt-icon-doc-analyzer;
        }

        &.settings .icon {
          background-image: $pgpt-icon-setting;
        }

        &.llm .icon {
          background-image: $pgpt-icon-model;
        }

        &.profile .icon {
          background-image: $pgpt-icon-profile;
        }

        &.history .icon {
          background-image: $pgpt-icon-history;
        }
      }
    }
  }
}
