@import "../../../Styles/include.scss";

.reset-wrapper {
  width: 100%;
  height: calc(100% - $pgpt-nav-bar-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.reset {
  $pgpt-min-width: calc($pgpt-sizing-base-rem * 16);
  $pgpt-max-width: calc($pgpt-sizing-base-rem * 20);

  width: clamp($pgpt-min-width, 80vw, $pgpt-max-width);
  margin-block-start: 15%;
  display: flex;
  flex-direction: column;

  @include media("md-down") {
    margin-block-start: 20%;
  }

  &__heading {
    font-size: $pgpt-font-size-display-medium;
    font-weight: $pgpt-font-weight-bold;
    color: var(--pgpt-color-theme-blue);
    margin-block: $pgpt-spacing-16;
    text-align: center;
  }

  &__text {
    padding-inline: $pgpt-spacing-8;
    font-size: $pgpt-font-size-body-small;
    line-height: $pgpt-line-height-flowing;
    text-align: center;
  }

  &__form {
    margin-block-start: $pgpt-spacing-8;

    &-password {
      margin-block-start: $pgpt-spacing-8;
    }

    &-actions {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-block-start: $pgpt-spacing-16;
    }
  }
}
