<div class="reset-wrapper">
  <div class="reset">
    <div class="reset__heading">{{'reset.heading' | pgptTranslate }}</div>
    <div class="reset__text">{{'reset.text' | pgptTranslate }}</div>

    <form #resetForm="ngForm" (ngSubmit)="onFormSubmit()" [formGroup]="resetFormGroup" class="reset__form">
      <div class="reset__form-password password">
        <pgpt-form-input [type]="'password'" [control]="password" [placeHolder]="'reset.password' | pgptTranslate"></pgpt-form-input>
        <div class="error-state" tabindex="-1" *ngIf="password.errors">{{password.getError('error')}}</div>
      </div>

      <div class="reset__form-password conf-password">
        <pgpt-form-input [type]="'password'" [control]="confPassword" [placeHolder]="'reset.confPassword' | pgptTranslate"></pgpt-form-input>
        <div class="error-state" tabindex="-1" *ngIf="confPassword.errors">{{confPassword.getError('error')}}</div>
      </div>

      <div class="reset__form-actions">
        <pgpt-button [type]="'submit'" [buttonType]="'primary'" [buttonSize]="'large'" [onClick]="onSubmitButtonClick.bind(this)">
          <span [class.hidden]="loading$ | async">{{'reset.submit' | pgptTranslate}}</span>
          <div class="loader" *ngIf="loading$ | async"><pgpt-internal-loader></pgpt-internal-loader></div>
        </pgpt-button>
      </div>
    </form>
  </div>

  <pgpt-footer></pgpt-footer>
</div>
