<div class="analyzer" *ngIf="(analyzerState$ | async) as analyzerState">
  <div class="analyzer__bot" (click)="onOpen()">
    <div class="analyzer__bot-icon"></div>
  </div>
  <div class="analyzer__container" *ngIf="analyzerState === 'open'">
    <div class="analyzer__header">
      <pgpt-button [buttonType]="'base'" class="analyzer__header-button analyzer__header-button--minimize" [onClick]="this.onMinimize.bind(this)">
        <i class="material-icons-outlined minimize">close_fullscreen</i>
      </pgpt-button>
      <pgpt-button [buttonType]="'base'" class="analyzer__header-button analyzer__header-button--close" [onClick]="this.onClose.bind(this)">
        <i class="material-icons-outlined close">close</i>
      </pgpt-button>
    </div>
    <div
      class="analyzer__chat"
      *ngIf="{
        chatDatas: chatSource$ | async,
        fileUpload: isFileUploaded$ | async
    } as state"
    >
      @if(state.fileUpload){
      <!-- Chat screen -->
      <div class="analyzer__chat-messages" #documentChatContainer>
        <pgpt-doc-preview [file]="file.value" [fileName]="fileName"></pgpt-doc-preview>
        <div class="analyzer__chat-message-tiles-container">
          @for(chatData of state.chatDatas; track chatData){
          <pgpt-chat-tile [tileContent]="chatData" [isAnalyzer]="true"></pgpt-chat-tile>
          }
        </div>
      </div>
      } @else {
      <!-- Welcome screen -->
      <div class="analyzer__chat-welcome-message">
        <div class="analyzer__chat-welcome-message-logo"></div>
        <div class="analyzer__chat-welcome-message-content">
          {{'analyzer.uploadCaption' | pgptTranslate}}
        </div>
        <div class="analyzer__chat-welcome-message-upload">
          <input #file_upload type="file" name="file-upload" id="file-upload" accept=".pdf" (change)="onFileChange($event)" />
          <pgpt-button [buttonType]="'primary'" [buttonSize]="'medium'" (click)="file_upload.click()">
            <span>{{'analyzer.uploadButtonText' | pgptTranslate}}</span>
          </pgpt-button>
        </div>
      </div>
      }
      <div class="analyzer__loading" *ngIf="loading$ | async">
        <pgpt-internal-loader></pgpt-internal-loader>
      </div>
      <div class="analyzer__chat-input-box" [class.isDocUploaded]="!state.fileUpload">
        <div class="error-state" tabindex="-1" *ngIf="prompt.errors">{{prompt.getError('error')}}</div>
        <pgpt-form-input [inputBehaviorType]="'submit'" [control]="prompt" [placeHolder]="'analyzer.inputPlaceholder' | pgptTranslate" [onSubmitClick]="onSubmitClick.bind(this)"></pgpt-form-input>
      </div>
    </div>
  </div>
</div>
