<div
  class="button"
  [ngClass]="{
    'base-button':buttonType === 'base',
    'disabled': buttonType === 'disabled', 
    'primary': buttonType === 'primary', 
    'fill': buttonType === 'fill', 
    'danger': buttonType === 'danger',
    'small': buttonSize === 'small', 
    'medium': buttonSize === 'medium', 
    'large': buttonSize === 'large',
    'basic': buttonSize === 'basic',
    'add-border': isBorderAdded
  }"
  tabindex="0"
  (click)="onButtonClick()"
>
  <ng-content></ng-content>
</div>
