<div class="chat-wrapper">
  <div class="chat-container">
    <div class="chat-content">
      <div class="chat-content-top" #chatContainer *ngIf="(chatSource$ | async) as chatDatas">
        @if(chatDatas.length === 0){
        <!-- Welcome banner -->
        <div class="chat-welcome-container" *ngIf="!(loading$ | async)">
          <pgpt-chat-welcome [userName]="user?.first_name || ''"></pgpt-chat-welcome>
        </div>
        } @else {
        <!-- Chat container -->
        <div class="chat-tiles-container">
          @for(chatData of chatDatas; track chatData){
          <!-- Chat tiles -->
          <pgpt-chat-tile [tileContent]="chatData"></pgpt-chat-tile>
          }
        </div>
        }
      </div>
      <div class="chat-content-bottom">
        <div class="loading-container" *ngIf="loading$ | async">
          <pgpt-internal-loader></pgpt-internal-loader>
        </div>
        <div class="prompt-input">
          <div class="error-state" tabindex="-1" *ngIf="prompt.errors">{{prompt.getError('error')}}</div>
          <pgpt-form-input [control]="prompt" [inputBehaviorType]="'submit'" [placeHolder]="'chat.inputPlaceholder' | pgptTranslate" [onSubmitClick]="onSubmitClck.bind(this)"></pgpt-form-input>
        </div>
        <div class="chat-disclaimer">{{'chat.disclaimer' | pgptTranslate}}</div>
      </div>
    </div>
  </div>
</div>
