@import "../variables.scss";

@mixin avatar($user) {
  @if $user == "user" {
    background-image: $pgpt-user-avatar;
  }

  @if $user == "assistant" {
    background-image: $pgpt-assistant-avatar;
  }

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

@mixin branding() {
  background-image: $pgpt-logo-icon-with-stroke-low-res;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

@mixin image_settings() {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

@mixin scrollbar() {
  &::-webkit-scrollbar {
    width: $pgpt-sizing-4;
    height: $pgpt-sizing-4;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--pgpt-color-scroll-thumb);
    border-radius: $pgpt-radius-m;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--pgpt-color-scroll-thumb-hover);
  }
}

@mixin text_overflow_ellipsis($line_clamp) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line_clamp;
  line-clamp: $line_clamp;
  text-overflow: ellipsis;
}

@mixin default_cursor {
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
