@import "../../../../Styles/include.scss";

.input-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;

  .input-field {
    height: 100%;
    font-size: $pgpt-font-size-body-small;
    font-family: $pgpt-font-family-default;
    flex: 1;
    border: none;
    outline: none;
    border: 2px solid var(--pgpt-color-border-medium);
    border-radius: $pgpt-radius-s;
    padding-block: $pgpt-spacing-8;
    padding-inline: $pgpt-spacing-8;
    background-color: var(--pgpt-color-background-transparent);
    color: var(--pgpt-color-text);

    &::placeholder {
      font-family: $pgpt-font-family-default;
      font-size: $pgpt-font-size-body-small;
      color: var(--pgpt-color-text-hint);
    }

    &:focus,
    &:focus-visible {
      outline: none;
      border-color: var(--pgpt-color-focus);
    }

    &[readonly] {
      background-color: var(--pgpt-color-background-variant);
      cursor: default;
      pointer-events: none;
      opacity: 0.5;
    }
  }

  .show-password {
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);

    .show-icon {
      color: var(--pgpt-color-text-hint);
      font-size: $pgpt-font-size-body-medium;
    }
  }

  .submit-container {
    .send-icon {
      color: var(--pgpt-color-text);
      font-size: $pgpt-font-size-body;
    }
  }
}
