<div class="register-page-wrapper">
  <div class="register-page-container">
    <div class="page-heading">
      {{ 'register.registerPageHeader' | pgptTranslate }}
    </div>
    <form #registerForm="ngForm" (ngSubmit)="onFormSubmit()" [formGroup]="registerState" class="form">
      <!-- Name Section Row -->
      <div class="tr name-section">
        <!-- First Name -->
        <div class="td">
          <pgpt-form-input [control]="firstName" [placeHolder]="'register.firstName' | pgptTranslate"></pgpt-form-input>
          <div class="error-state" tabindex="-1" *ngIf="firstName.errors">{{firstName.getError('error')}}</div>
        </div>
        <!-- Last Name -->
        <div class="td">
          <pgpt-form-input [control]="lastName" [placeHolder]="'register.lastName' | pgptTranslate"></pgpt-form-input>
          <div class="error-state" tabindex="-1" *ngIf="lastName.errors">{{lastName.getError('error')}}</div>
        </div>
      </div>

      <!-- Identity Row -->
      <div class="tr identity-section">
        <!-- Date of birth -->
        <div class="td">
          <pgpt-form-date-input [control]="dob" [placeHolder]="'register.dob' | pgptTranslate"></pgpt-form-date-input>
          <div class="error-state" tabindex="-1" *ngIf="dob.errors">{{dob.getError('error')}}</div>
        </div>

        <!-- Email -->
        <div class="td">
          <pgpt-form-input [control]="email" [placeHolder]="'register.email' | pgptTranslate"></pgpt-form-input>
          <div class="error-state" tabindex="-1" *ngIf="email.errors">{{email.getError('error')}}</div>
        </div>
      </div>

      <!-- Organization info Row-->
      <div class="tr org-section">
        <!-- Organization name -->
        <div class="td">
          <pgpt-form-input [control]="organizationName" [placeHolder]="'register.orgName' | pgptTranslate"></pgpt-form-input>
        </div>
        <!-- Designation -->
        <div class="td">
          <pgpt-form-input [control]="designation" [placeHolder]="'register.designation' | pgptTranslate"></pgpt-form-input>
          <div class="error-state" tabindex="-1" *ngIf="designation.errors">{{designation.getError('error')}}</div>
        </div>
      </div>

      <!-- Password Row -->
      <div class="tr password-section">
        <!-- Password -->
        <div class="td">
          <pgpt-form-input [type]="'password'" [control]="password" [placeHolder]="'register.password' | pgptTranslate"></pgpt-form-input>
          <div class="error-state" tabindex="-1" *ngIf="password.errors">{{password.getError('error')}}</div>
        </div>
        <!-- Confirm Password -->
        <div class="td">
          <pgpt-form-input [type]="'password'" [control]="confPassword" [placeHolder]="'register.confPassword' | pgptTranslate"></pgpt-form-input>
          <div class="error-state" tabindex="-1" *ngIf="confPassword.errors">{{confPassword.getError('error')}}</div>
        </div>
      </div>

      <!-- Personality Row -->
      <div class="tr personality-section">
        <div class="td">
          <pgpt-form-input [control]="country" [placeHolder]="'register.country' | pgptTranslate"></pgpt-form-input>
          <div class="error-state" tabindex="-1" *ngIf="country.errors">{{country.getError('error')}}</div>
        </div>
        <div class="td">
          <pgpt-form-input [control]="personality" [placeHolder]="'register.personality' | pgptTranslate"></pgpt-form-input>
          <div class="error-state" tabindex="-1" *ngIf="personality.errors">{{personality.getError('error')}}</div>
          <div class="error-state" tabindex="-1" *ngIf="personality.errors?.['maxlength']">{{('register.maxLengthError' | pgptTranslate) + personality.errors?.['maxlength'].requiredLength}}</div>
        </div>
      </div>
      <!-- Describe Row -->
      <div class="tr desc-section">
        <div class="td">
          <pgpt-form-input [control]="describe" [placeHolder]="'register.desc' | pgptTranslate"></pgpt-form-input>
          <div class="error-state" tabindex="-1" *ngIf="describe.errors?.['maxlength']">{{('register.maxLengthError' | pgptTranslate) + describe.errors?.['maxlength'].requiredLength}}</div>
        </div>
      </div>

      <!-- Keys -->
      <div class="tr key-section">
        <div class="td">
          <pgpt-form-input [control]="openAiToken" [placeHolder]="'register.openAiKey' | pgptTranslate"></pgpt-form-input>
          <div class="error-state" tabindex="-1" *ngIf="openAiToken.errors">{{openAiToken.getError('error')}}</div>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="tr submit-btn">
        <pgpt-button [type]="'submit'" [buttonType]="'primary'" [buttonSize]="'large'" [onClick]="onSubmitButtonClick.bind(this)">
          <span>
            {{ 'register.registerSubmit' | pgptTranslate }}
          </span>
        </pgpt-button>
      </div>
    </form>
  </div>

  <div class="footer-container">
    <pgpt-footer></pgpt-footer>
  </div>
</div>
