<div class="landing-page-wrapper">
  <div class="landing-page-deco">
    <div class="border-indicator border-indicator-1"></div>
    <div class="border-indicator border-indicator-2"></div>
  </div>
  koko
  <div class="landing-page-container">
    <div class="logo-container"></div>
    <div class="content-container">
      <div class="heading">Personalize<span>GPT</span></div>
      <div class="text text-section-2">Customized Intelligence, Seamless Conversations</div>
      <pgpt-button [buttonSize]="'large'" [buttonType]="'fill'" class="get-start-btn">
        <span>Get Start</span>
      </pgpt-button>
    </div>
  </div>
  <div class="footer-container">
    <pgpt-footer></pgpt-footer>
  </div>
</div>
