<div class="landing-page-wrapper">
  <div class="landing-page-deco">
    <div class="border-indicator border-indicator-1"></div>
    <div class="border-indicator border-indicator-2"></div>
  </div>
  <div class="landing-page-container">
    <div class="logo-container"></div>
    <div class="content-container">
      <div class="heading">{{ 'branding.firstName' | pgptTranslate }}<span>{{'branding.lastName' | pgptTranslate}}</span></div>
      <div class="text text-section-2">{{'branding.motto' | pgptTranslate}}</div>
      <pgpt-button [buttonSize]="'large'" [buttonType]="'fill'" class="get-start-btn" [onClick]="this.onRegisterClick.bind(this)">
        <span>{{'buttons.getStart' | pgptTranslate}}</span>
      </pgpt-button>
    </div>
  </div>
  <div class="footer-container">
    <pgpt-footer></pgpt-footer>
  </div>
</div>
