<div class="chat-page-container">
  <!-- Side Panel -->
  <div class="side-panel" [class.isOpen]="isOpen$ | async">
    <pgpt-side-panel [user]="user"></pgpt-side-panel>
  </div>

  <!-- Chat Section -->
  <div class="chat-section">
    <pgpt-chat [user]="user"></pgpt-chat>
  </div>

  <!-- Options -->
  <div class="options-section" *ngIf="isOptionsApplied">
    <pgpt-options></pgpt-options>
  </div>

  <!-- ChatBot -->
  <div class="chat-bot-section" *ngIf="(analyzerState$ | async) !== 'closed'">
    <pgpt-document-analyzer></pgpt-document-analyzer>
  </div>
</div>
