@import "./variables.scss";
@import "./Styles/theme_mixins.scss";

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  @include pgpt-theme(light);
}

body.dark-theme {
  @include pgpt-theme(dark);
}
