@import "./Styles/include.scss";

:root {
  --pgpt-color-background: #f2f2f2;
  --pgpt-color-background-transparent: transparent;
  --pgpt-color-background-variant: #f9f9f9;
  --pgpt-color-background-hover: #e8e8e8;
  --pgpt-color-background-selected: #d9d9d9;
  --pgpt-color-background-selected-hover: #d2d2d2;
  --pgpt-color-text: #1a1b46;
  --pgpt-color-text-link: #0173d1;
  --pgpt-color-text-weak: #3e484d;
  --pgpt-color-text-hint: #a2a2a5;
  --pgpt-color-text-static-light: #fafafa;
  --pgpt-color-text-static-dark: #1a1b1d;
  --pgpt-color-border-contrast: #000000;
  --pgpt-color-border-medium: #b8b8b8;
  --pgpt-color-border-soft: #e8e8e8;
  --pgpt-color-contrast: #1a1b1d;
  --pgpt-color-theme-blue: #0798f2;
  --pgpt-color-theme-blue-hover: #0173d1;
  --pgpt-color-theme-yellow: #f2bc1b;
  --pgpt-color-theme-yellow-hover: #d9a918;
  --pgpt-color-focus: #1a376d;
  --pgpt-color-error: #ec5246;
  --pgpt-color-success: #74c473;

  --pgpt-logo-sm: 3rem;
  --pgpt-logo-md: 5rem;
  --pgpt-logo-large: clamp(20rem, 70vw, 25rem);
}

:root {
  .dark-theme {
    --pgpt-color-background: #03093e;
    --pgpt-color-background-variant: #0f0f1e;
    --pgpt-color-background-hover: #2d2e2f;
    --pgpt-color-background-selected: #232332;
    --pgpt-color-background-selected-hover: #282d41;
    --pgpt-color-text: #fafafa;
    --pgpt-color-text-link: #06b4ff;
    --pgpt-color-text-weak: #d2d2d2;
    --pgpt-color-text-hint: #8c8c8c;
    --pgpt-color-border-contrast: #ffffff;
    --pgpt-color-border-medium: #636769;
    --pgpt-color-border-soft: #3e484d;
    --pgpt-color-contrast: #fafafa;
    --pgpt-color-focus: #79d7ff;
  }
}

@include media("lg-down") {
  :root {
    --pgpt-logo-large: clamp(12rem, 70vw, 15rem);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--pgpt-color-background);
  color: var(--pgpt-color-text);
  font-family: $pgpt-font-family-default;
  overflow: overlay;
  margin: 0;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.link {
  margin-inline-start: $pgpt-spacing-4;
  color: var(--pgpt-color-theme-blue);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.error-state {
  color: var(--pgpt-color-error);
  font-size: $pgpt-font-size-body-small;
  margin-block-start: $pgpt-spacing-8;
  line-height: $pgpt-line-height-flowing;
}
