@import "../../../../Styles/include.scss";

.date-input-container {
  width: 100%;
  position: relative;

  .date-input {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
  }

  .input-previewer {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: $pgpt-radius-s;
    border: 2px solid var(--pgpt-color-border-medium);
    display: flex;
    justify-content: space-between;

    cursor: pointer;

    &:focus,
    &:focus-visible {
      outline: none;
      border-color: var(--pgpt-color-focus) !important;
    }

    i {
      position: relative;
      color: var(--pgpt-color-text-hint);
      font-size: $pgpt-font-size-body-medium;
    }

    .content {
      position: relative;
      font-family: $pgpt-font-family-default;
      font-size: $pgpt-font-size-body-small;
      padding-inline: $pgpt-spacing-8;
      color: var(--pgpt-color-text);
      flex: 1;
      border: none;
      outline: none;
      background-color: var(--pgpt-color-background-transparent);

      &::placeholder {
        font-family: $pgpt-font-family-default;
        font-size: $pgpt-font-size-body-small;
        color: var(--pgpt-color-text-hint);
      }

      &:focus,
      &:focus-visible {
        outline: none;
      }
    }
  }
}
